.zshrc.gitprompt
Capitalism-and-Class-Consciousness-the-ideas-of-Georg-Lukacs-by-Chris-Nineham.pdf
TroyDavis.docx
TroyDavisFlyer.pdf
bashrc-gitprompt
moksha-ctl-screenshot.png
narcissus-countries.png
rrd-proof-of-concept.png
